{% extends './base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh; width: 100vw;">
    <div class="p-4 border rounded d-flex flex-column justify-content-center align-items-center">
        <h3 class="text-center">{% translate "Your new password has been set.  You may go ahead and log in now." %}</h3>
        <h3 class="font-weight-bold"><a href="https://magpiereport.web.app/login">{% translate 'Log in' %}</a></h3>
    </div>
</div>
{% endblock %}