{% extends './base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh; width: 100vw;">

    {% if validlink %}

    <h1>Password Reset</h1>
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form class="w-50 h-50 p-4 m-0 border rounded" method="post">
        {% csrf_token %}
        <fieldset class="w-100 h-100 m-0">
            <div class="border border-0 d-flex flex-column">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">{% translate 'New password:' %}</label>
                {{ form.new_password1 }}
            </div>
            <div class="mt-2 border border-0 d-flex flex-column">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                {{ form.new_password2 }}
            </div>
            <input class="w-100 mt-4 btn btn-primary" type="submit" value="{% translate 'Change my password' %}">
        </fieldset>
    </form>

    {% else %}

    <p class="alert alert-warning">
        {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>

    {% endif %}
</div>
{% endblock %}